streamlit
torch --index-url https://download.pytorch.org/whl/cpu
supabase
sentence-transformers
langchain-text-splitters
pypdf
python-docx
anthropic
python-dotenv
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client